<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.talkablebinding">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    <application android:label="TalkableBinding.Android" android:theme="@style/MainTheme">
      <meta-data
        android:name="tkbl-api-key-icon-fitness-sandbox"
        android:value="FrF3ZPbPj4OZMhyhmPbB" />
      <activity android:name=".MainActivity">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />

          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />

          <data android:scheme="tkbl-icon-fitness-sandbox" />
        </intent-filter>
      </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
